* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 0;
}

.upload {
    width: 80%;
    background: #F0F3F6;
    margin: 10%;
    border: 1px solid #8f7c84;
}

.header {
    width: 100%;
    height: 60px;
}

.select {
    width: 200px;
    font-size: 16px;
    color: #AF9CA4;
    margin: 18px 20px 20px 35%;
}

.submit {
    width: 60px;
    height: 30px;
    font-size: 16px;
    background: deepskyblue;
    border-radius: 25px;
    border: none;
    color: white;
}

.name {
    display: inline-block;
    width: 95%;
    height: 50px;
    font-size: 20px;
    color: #8f7c84;
    line-height: 50px;
    text-align: center;
    border: 1px solid #8f7c84;
    border-bottom: none;
    border-right: none;
}

.ver {
    height: 50px;
    display: inline-block;
    width: 5%;
    border-top: 1px #8f7c84 solid;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

.p1 {
    color: #808080;
}

textarea {
    width: 100%;
    height: 500px;
    font-size: 15px;
    color: #A49199;
    line-height: 1.2;
}

.name {
    text-decoration: none;
    color: black;
}

.text {
    height: 1000px;
    width: 100%;
}
