
.number{
    display: inline-block;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.problem {
    width: 95%;
    margin: 40px auto;
    border: 1px solid #777;
    border-top: none;
}

li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #777;
}

.problem--top {
    background: #5b5b75;
    height: 80px;
}

.problem--top__left {
    width: 6.8%;
    border: none;
    height: 50px;
    line-height: 80px;
    margin: 0 .7%;
}
.top{
    width: 100%;
    font-size: 14px;
    height: 32px;
    color: #555;
}

.keyword {
    width: 30%;
    height: 30px;
    border: none;
    text-align: left;
    padding-left: 10px;
    line-height: 80px;
}

.problem--top__right {
    width: 50%;
    height: 80px;
    line-height: 80px;
    border: none;
    font-size: 20px;
    text-align: left;
    padding-left: 200px;
    color: white;
}

.data {
    width: 50%;
    height: 30px;
    line-height: 30px;
    border: none;
    font-size: 15px;
    color: #666;
    padding-left: 20px;
    vertical-align: middle;
}

button {
    width: 15%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #666;
    vertical-align: middle;
    border: none;
}

li > * {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #777;
    font-size: 15px;
    width: 6%;
    color: #666;
    /*line-height: 50px;*/
}

.li{
    background: #e1e1e1;
}

.title {
    width: 26.5%;
}

.caption{
    width: 26.5%;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    cursor: pointer;
    text-align: left;
    padding-left: 12px;
}

.present {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border: none;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}
#select{
    display: inline-block;
    width: 28.4%;
    position:absolute;
    z-index: 3;
    top: 11.7%;
    left: 10.3%;
    background: #fff;
}
#select>li{
    height: 40px;
    width: 100%;
}
#select>li>a{
    width: 100%;
    text-align: left;
    padding-left: 12px;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    text-decoration: none;
    color: #555;
}
b{
    display: none;
    z-index: 3;
    font-size: 16px;
    height: 50px;
    width: 100%;
    border: 1px solid #999;
    border-top: none;
    line-height: 50px;
    background: #e1e1e1;
    font-weight:normal;
    color: #666;
}
b:hover{
    background: #f8f8f8;
    color: #666;
}
#introducer{
    position: relative;
    top: 0;
    left: 0;
}
#acceptor{
    position: relative;
    top: 0;
    left: 0;
}
#receiver{
    position: relative;
    top: 0;
    left: 0;
}
.li>span{
    vertical-align: top;
}
#box{
    display: inline-block;
    margin: 20px 25%;
}
#pagination{
    display: inline-block;
    border: none;
}
#pagination>li{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.none{
    display: inline-block;
}
a{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #999;
    color: skyblue;
    vertical-align: top;
}
#txt03{
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: #999 1px solid;
    padding-left: 12px;
    vertical-align: bottom;
}
#btn04{
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: #999 1px solid;
    vertical-align: bottom;
}
.active{
    background-color: #3f95d8;
}
.a-active:hover{
    background: #d5d8db;
    color: white;
    /*cursor: pointer;*/
}
.none:hover{
    background: #d5d8db;
    color: white;
}
.time{
    width: 12%;
}
.knowledge0{
    width: 4.5%;
    margin-left: .8%;
    background: #40c2f2;
    cursor: pointer;
}
.knowledge1{
    width: 4.5%;
    margin-left: .8%;
    background: #acacac;
    color: #fff;
    cursor:no-drop;
    border: none;
}

.delete{
    width: 7.5%;
    border-right: none;
}
.deletes{
    display: inline-block;
    width: 7.36%;
    margin-left: .6%;
    cursor: pointer;
    border-left: 1px solid #999;
    border-right: none;
}
.deletes--delete{
    display: inline-block;
    width: 60%;
    height: 25px;
    background: #de0000;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    margin-top: 8px;
    margin-left: 12.5%;
    color: white;
}
.deletes--delete:hover{
    background: #c80000;
}
.popup{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
}
.popup--icon{
    width: 360px;
    height: 200px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 7px;
    border: 1px #a7a7a7 solid;
    background: #F5F5F5;
}
.popup--icon--title{
    width: 100%;
    height: 150px;
    font-size: 15px;
    /*padding-left: 12px;*/
    text-align: center;
    line-height: 150px;
    color: #333;
}
#delete{
    display: inline-block;
    margin-left: 10px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #4285F4;
}
#delete:hover{
    background: #437aea;
}
#cancel{
    margin-left: 190px;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #333;
    background: #fff;

}
#cancel:hover{
    background: #ededed;
}
