* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.problem {
    width: 100%;
    margin: 40px auto;
    border: 1px solid #777;
    border-top: none;
}

li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #777;
}

.problem--top {
    background: #5b5b75;
    height: 80px;
}

.problem--top__left {
    color: white;
    font-size: 20px;
    border: none;
    height: 50px;
    line-height: 80px;
}

.keyword {
    width: 30%;
    height: 30px;
    border: none;
    text-align: left;
    padding-left: 10px;
    line-height: 80px;
}

/*.search {*/
    /*width: 5%;*/
    /*height: 31px;*/
    /*color: #666;*/
    /*border: none;*/
/*}*/

.problem--top__right {
    width: 45%;
    height: 80px;
    line-height: 80px;
    border: none;
    font-size: 20px;
    text-align: left;
    padding-left: 200px;
    color: white;
}

.data {
    width: 50%;
    height: 30px;
    line-height: 30px;
    border: none;
    font-size: 15px;
    color: #666;
    padding-left: 20px;
    vertical-align: middle;
}

button {
    width: 15%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #666;
    vertical-align: middle;
    border: none;
}

li > * {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #777;
    font-size: 15px;
    width: 10%;
    color: #666;
    /*line-height: 50px;*/
}

.li{
    background: #e1e1e1;
}

.title {
    width: 40%;
}

.caption{
    width: 40%;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    cursor: pointer;
    text-align: left;
    padding-left: 12px;
    overflow: hidden;/*超出部分隐藏*/
    text-overflow:ellipsis;/* 超出部分显示省略号 */
    white-space: nowrap;/*规定段落中的文本不进行换行 */
}

.present {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border: none;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}
#select{
    display: inline-block;
    width: 28.4%;
    position:absolute;
    top: 11.7%;
    left: 9.7%;
    background: #fff;
}
#select>li{
    height: 40px;
    width: 100%;
}
#select>li>a{
    width: 100%;
    text-align: left;
    padding-left: 12px;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    text-decoration: none;
    color: #555;
}
b{
    display: none;
    font-size: 16px;
    height: 50px;
    width: 100%;
    border: 1px solid #999;
    border-top: none;
    line-height: 50px;
    background: #e1e1e1;
    font-weight:normal;
    color: #666;
}
b:hover{
    background: #f8f8f8;
    color: #666;
}
#introducer{
    position: relative;
    top: 0;
    left: 0;
}
#receiver{
    position: relative;
    top: 0;
    left: 0;
}
.li>span{
    vertical-align: top;
}

#box{
    display: inline-block;
    margin: 20px 25%;
}
#pagination{
    display: inline-block;
    border: none;
}
#pagination>li{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.none{
    display: inline-block;
}
a{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #999;
    color: skyblue;
    vertical-align: top;
}
#txt03{
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: #999 1px solid;
    padding-left: 12px;
    vertical-align: bottom;
}
#btn04{
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: #999 1px solid;
    vertical-align: bottom;
}
.active{
    background-color: #3f95d8;
}
.a-active:hover{
    background: #d5d8db;
    color: white;
    /*cursor: pointer;*/
}
.none:hover{
    background: #d5d8db;
    color: white;
}
.category{
    display: none;
    width: 302px;
    height: 202px;
    position: absolute;
    /*background: #3fbded;*/
    border: 1px solid #888;
    background: #e9e9e9;
    top: 8%    ;
    left: 67%;
    box-sizing: border-box;
    z-index: 999;
}
.system{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #555;
    box-sizing: border-box;
}
.system:hover{
    background: #dadada;
    cursor: pointer
}
#cancel{
    background: #b10000;
    color: white;
    position: absolute;
    top: 160px;
    left: 200px;
}
#cancel:hover{
    background: #830000;
    color: #FFF;
}
.subclass{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #555;
    box-sizing: border-box;
}
.subclass:hover{
    background: #dadada;
    cursor: pointer
}
#back{
    background: #a90000;
    color: white;
    position: absolute;
    top: 160px;
    left: 200px;
}
#back:hover{
    background: #830000;
    color: #FFF;
}
