* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.repository {
    width: 80%;
    margin: 40px auto;
    border: 1px solid #777;
    border-top: none;
}

li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #777;
}

.repository--top {
    background: #5b5b75;
    height: 80px;
}

.repository--top__left {
    color: white;
    font-size: 20px;
    border: none;
    height: 50px;
    line-height: 80px;
}

.keyword {
    width: 30%;
    height: 30px;
    border: none;
    text-align: left;
    padding-left: 10px;
    line-height: 80px;
}

.repository--top__right {
    width: 50%;
    height: 80px;
    line-height: 80px;
    border: none;
    font-size: 20px;
    text-align: left;
    padding-left: 200px;
    color: white;
}

.data {
    width: 50%;
    height: 30px;
    line-height: 30px;
    border: none;
    font-size: 15px;
    color: #666;
    padding-left: 20px;
    vertical-align: middle;
}

button {
    width: 15%;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #666;
    vertical-align: middle;
    border: none;
}

li > * {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #777;
    font-size: 15px;
    width: 12%;
    color: #666;
}

.li{
    background: #e1e1e1;
}

.title {
    width: 64%;
}

.caption{
    width: 64%;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    cursor: pointer;
}

.present {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border: none;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}
#select{
    display: inline-block;
    width: 28.4%;
    position:absolute;
    z-index: 3;
    top: 10.7%;
    left: 9.7%;
    background: #fff;
}
#select>li{
    height: 40px;
    width: 100%;
}
#select>li>a{
    width: 100%;
    text-align: left;
    padding-left: 12px;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    text-decoration: none;
    color: #555;
}
.li>span{
    vertical-align: top;
}

#box{
    display: inline-block;
    margin: 20px 25%;
}
#pagination{
    display: inline-block;
    border: none;
}
#pagination>li{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.none{
    display: inline-block;
}
a{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #999;
    color: skyblue;
    vertical-align: top;
}
#txt03{
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: #999 1px solid;
    padding-left: 12px;
    vertical-align: bottom;
}
#btn04{
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: #999 1px solid;
    vertical-align: bottom;
}
.active{
    background-color: #3f95d8;
}
.a-active:hover{
    background: #d5d8db;
    color: white;
    /*cursor: pointer;*/
}
.none:hover{
    background: #d5d8db;
    color: white;
}


