* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    box-sizing: border-box;
}

.minute {
    width: 60%;
    margin: 50px auto;
    border: 1px solid #8f7c84;
    background: #E7E5E1;
}

li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

    li > * {
        display: inline-block;
        font-size: 15px;
        width: 15%;
        color: #6D5A62;
        text-align: center;
    }

.send {
    background: deepskyblue;
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

.present {
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-left: 75px;
}

.btn {
    font-size: 15px;
    background-color: white;
    width: 60px;
    margin-left: 65%;
}

.title {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    color: #6D5A62;
    text-align: left;
}

.textarea {
    width: 100%;
    height: 420px;
}

.textarea--left {
    position: relative;
    top: -370px;
}

textarea {
    display: inline-block;
    width: 80%;
    height: 400px;
    line-height: 1;
    color: #6D5A62;
    resize: none;
    text-align: left;
    padding-left: 12px;
}

.minute--bottom__middle {
    width: 30.5%;
}

.bottom--middle {
    width: 33.5%;
    display: inline-block;
}

    .bottom--middle > span {
        font-size: 16px;
        margin: 5px;
    }

#title {
    color: #7c0000;
}
.bottom--middle__urgency{
    width: 80px;
    height: 30px;
    font-size: 16px;
    padding-left: 25px;
}
#present{
    width: 10%;
    margin-left: 5%;
}
#history:hover{
    color: #3fbded;
}
.detail {
    display: inline-block;
    width: 80%;
    height: 400px;
    line-height: 1;
    color: #6D5A62;
    text-align: left;
    padding-left: 12px;
    background: #fff;

}
.firstdate{
    width: 30%;
}
#detalis{
    overflow-y: scroll;
}
.seconddate{
    background: #e3e3e3;
    width: 30%;
}
.detail--icon{
    width: 100%;
}
.firsticon{
    width: 70%;
}
.secondicon{
    background: #e3e3e3;
    width: 70%;
}
