* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
    box-sizing: border-box;
}

.particulars {
    display: inline-block;
    width: 90%;
    margin: 0 20px;
    border: 1px solid #DBDCDD;
}

.header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #DBDCDD;
}

.header--left {
    display: inline-block;
    padding-left: 16px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #AF9CA4;
    font-size: 15px;
}

.header--right {
    display: inline-block;
    width: 130px;
    height: 50px;
    line-height: 50px;
    color: #6D5A62;
    font-size: 15px;
    vertical-align: top;
}

ul {
    display: inline-block;
    width: 30%;
    margin-top: 40px;
}

li {
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-right: 1px solid #DBDCDD;
    padding-left: 16px;
    color: #cdcdcd;
}
.li-1{
    border-top: 2px solid;
}

.icon--left {
    width: 100%;
    padding-left: 20px;
    background: #E9ECEF;
    height: 39px;
    border: 1px solid #DBDCDD;
    font-size: 14px;
    color: #333;
}

.icon--right {
    display: inline-block;
    width: 70%;
    height: 711px;
    vertical-align: top;
    border-bottom: 1px solid #DBDCDD;
}

    .icon--right > div {
        width: 100%;
        height: 40px;
        /* font-size: 16px; */
        color: #6D5A62;
        /* line-height: 40px; */
        /* text-align: center; */
        border-bottom: 1px solid #DBDCDD;
    }

.icon--right div span{
    font-size: 16px;
    line-height: 40px;
    margin: 0 10% 0 45%;
}
textarea {
    width: 100%;
    height: 762px;
    resize: none;
    line-height: 1.5;
    color: #6D5A62;
    font-size: 14px;
    padding-left: 20px;
}

#bottom {
    margin: 5px 10% 5px 10%;
}

.btn {
    width: 10%;
    height: 40px;
    line-height: 37px;
    background: deepskyblue;
    color: white;
    outline: none;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.8);
    color: #fff;
}
.btn:hover{
    opacity: 0.8;
}
ul>input{
    text-align: center;
    font-size: 14px;

}
.search{
    width: 15%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #777777;
    /*vertical-align: middle;*/
    padding-left: 5px;
    margin-left: 1%;
}
#search{
    width: 70px;
    height: 30px;
    line-height: 28px;
    background: #3BA9E8;
    font-size: 15px;
    border: 2px solid rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.8);
    color: #fff;
    display: inline-block;
    margin: 0 0 0 20px;
}
#search:hover{
    opacity: 0.8;
}
.btn-l{
    width: 70px;
    height: 30px;
    line-height: 28px;
    background: #3BA9E8;
    font-size: 15px;
    border: 2px solid rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.8);
    color: #fff;
    display: inline-block;
}
#edit{
    width: 70px;
    height: 30px;
    line-height: 28px;
    background: #3BA9E8;
    font-size: 15px;
    border: 2px solid rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.8);
    color: #fff;
    display: inline-block;
}
#edit:hover{
    opacity: 0.8;
}
#cancel{
    width: 70px;
    height: 30px;
    line-height: 28px;
    background: #3BA9E8;
    font-size: 15px;
    display: none;
    border: 2px solid rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.8);
    color: #fff;
}
#cancel:hover{
    opacity: 0.8;
}
#complete{
    width: 70px;
    height: 30px;
    line-height: 28px;
    background: #3BA9E8;
    font-size: 15px;
    margin: 0 0 0 20px;
    display: none;
    border: 2px solid rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.8);
    color: #fff;
}
#complete:hover{
    opacity: 0.8;
}

